<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
  <appender name="default.console" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.out" />
    <param name="threshold" value="ALL" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m" />
    </layout>
  </appender>
  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="file" value="/logs/JavaApplication"/>
      <param name="DatePattern" value="dd.MM.yyyy'.xml'" />
      <param name="append" value="true"/>
      <layout class="org.apache.log4j.xml.XMLLayout"/>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="default.console" />
    <appender-ref ref="FILE" />
  </root>
</log4j:configuration>